/*
Project Name: Rock Paper Scissors
Project URL: https: //cl33per.github.io/RPS-Multiplayer/
Author: Fox-Themes
Author URI: https: //cl33per.github.io/
Version: 1.1.1
Description: A stunning online rock paper scissors
*/
 /* Social Icons */
 .btn-social {
     display: inline-block;
     width: 48px;
     height: 48px;
     border: 1px solid #bbbbbb;
     border-radius: 100%;
     text-align: center;
     font-size: 24px;
     line-height: 46px;
 }

 .btn-outline {
     border: solid 1px #bbbbbb;
     font-size: 24px;
     color: #bbbbbb;
     background: 0 0;
     transition: all .3s ease-in-out;
 }